* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: black;
  width: 300px;
  padding: 25px;
  color: #b3b3b3;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  position: fixed;
  top: .5;
  left: 5;
  width: 250px;
}

.sidebar-img {
  width: 50%;
  cursor: pointer;
  margin-top: 15px;
}

.sidebar-list {
  list-style: none;
  margin: 30px 0;
}

.sidebar-list-item {
  display: flex;
  align-items: center;
}

.sidebar-list-item i {
  font-size: 20px;
}

.sidebar-list-item:hover {
  color: #fff;
}

.sidebar-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.sidebar-list-item--link{
  font-size: 12px;
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.sidebar-links {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  font-size: 12px;
}

.sidebar-link {
  text-decoration: none;
  color: inherit;
  flex: 0 0 40%;
}

.sidebar-vert-break {
  height: 25px;
  width: 2px;
  background-color: #fff;
  margin: 0 auto;
}
.button:link,
.button:visited {
  display: block;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 100px;
  outline: none;

  transition: transform .2s;
}

.button:hover {
  transform: scale(1.1);
}

.button--1:link,
.button--1:visited {
  background-color: #fff;
  color: #000;
}

.button--2:link,
.button--2:visited {
  background-color: rgba(#000000, 0.9);
  color: inherit;
  border: 2px solid;
  margin-top: 20px;
}

.button--2:hover {
  color: #fff;
}
.content {

  flex: 1;
  padding: 50px;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,116,121,1) 67%);
}
.navigation__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.navigation__item:not(:last-child) {
  margin-right: 20px;
}

.navigation__item:hover {
  color: #1ed760;
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-weight: 400;
  letter-spacing: 2px;
}



.navigation__link:active {
  color: #fff;
}

.navigation__link:active ~ .navigation__item::after {
  opacity: 1;
}
.title-hits {
  color: #fff;
  padding: 30px 0;
}

.hits,
.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.charts {
  margin-bottom: 80px;
}

.hits-item,
.charts-item {
  text-align: center;
  margin: 0 20px 50px 0;
  cursor: pointer;
}

.hits-img,
.charts-image {
  max-width: 100%;
  height: 200px;
}

.hits__title,
.charts-title {
  font-size: 15px;
  color: #fff;
  padding: 10px 0;
}
